.xp-container{
    min-height: 100vh;
    background-color: black;
    padding-bottom: 20px;
  }
  
  .xp-container-cover > h4{
    color: gray;
    letter-spacing: 8px;
    margin-left: 4rem;
    padding-top: 100px;
  }
  
  .xp-container-cover > h1{
    color: white;
    margin-left: 4rem;
    font-family: 'Space Mono', monospace;
  }
  
  .xp-container-cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    padding: 20px;
    margin-left: 4rem;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .xp-card{
    width: 25vw;
    background-color: #181823;
    border-radius: 30px;
  }

  .xp-card > img{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    height: 230px;
    border-top-left-radius:  30px;
    border-top-right-radius: 30px;
  }
  .xp-card > h3, .xp-card > h5{
    color: white;
    text-align: center;
    margin-bottom: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    line-height: 40px;
    text-shadow: 0px 0px 20px rgb(0, 255, 238);
    letter-spacing: 2px;
  }

  .xp-card > h5{
    line-height: 10px;
  }

  .xp-card > h3 > u{
    text-decoration: none;
  }

  .xp-card > p{
    color: #b7b7bb;
    font-family: 'Abel', sans-serif;
    font-weight: 200;
    padding: 10px;
    line-height: 1.2rem;
    padding: 20px;
  }
  
  @media only screen and (max-width: 915px){
    .xp-container{
      min-height: 100vh;
      margin-top: 10px;
      background-color: black;
      padding-bottom: 0px;
    }
    
    .xp-container-cover > h4{
      letter-spacing: 8px;
      margin-left: 2rem;
      padding-top:  60px;
    }
    
    .xp-container-cover > h1{
      margin-left: 2rem;
      padding-bottom: 20px;
    }
    
    .xp-container-cards{
      flex-wrap: nowrap;
      gap: 35px;
      margin: 0;
      margin-top: 20px;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 80px;
      overflow-x: auto;
    }
    .xp-container-cards::-webkit-scrollbar {
      display: none;
    }
    .xp-card{
      min-width: 85vw;
      min-height: 60vh;
    }
    .xp-card > img{
      width: 100%;
      max-height: 250px;
      display: flex;
      margin-bottom: 10px;
    }
    .xp-card > h3{
      color: white;
      text-align: center;
      margin-bottom: 5px;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .xp-card > p{
      color: #b7b7bb;
      margin-top: 10px;
      font-weight: 300;
      padding-bottom: 10px;
      line-height: 1.5rem;
      padding: 10px;
      font-weight: 200;
      line-height: 1.3rem;
    }
  }