.intro-container{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .intro-container > img{
    width: 50vw;
    height: 650px;
  }
  .intro-container-about{
    color: white;
    font-family: 'Lekton', sans-serif;
  }
  .intro-container-about > p{
    font-size: 3rem;
    line-height: 3rem;
  }
  .intro-container-about > p > span{
    color: yellow;
  }
  .intro-container-about > h4{
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    line-height: 25px;
    word-spacing: 1px;
    font-size: 1.2rem;
    padding-right: 10px;
  }
  
@media only screen and (max-width: 915px)
{
  .intro-container{
    display: block;
  }
  .intro-container > img{
    width: 100%;
    height: fit-content;
    box-shadow: 5px 10px 8px rgba(35, 35, 53, 0.518);
  }
  .intro-container-about > p{
    font-size: 3rem;
    line-height: 3rem;
    margin-left: 2rem;
    padding-top: 20px;
  }
  .intro-container-about > h4{
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 100; 
    font-size: 1.2rem;
    padding: 20px 1rem 20px 1.3rem;
    margin-bottom: 20px;
  }
}